@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap');

* {
    font-family: "Nunito", sans-serif;
    font-style: normal;
    font-optical-sizing: auto;
    box-sizing: border-box;
    margin: 0;
    padding: 0; 
}

body {
    width: 60%;
    margin: 0 auto;
}

.testimonial-cards-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(3, minmax(0, 1fr));
    grid-template-areas: 
        "card-top-left card-top-right"
        "card-middle card-middle"
        "card-bottom card-bottom";
    gap: 1rem;
    height: 100vh;
    padding-top: 1rem;
    padding-bottom: 1rem;
}

.card-top-left {
    grid-area: card-top-left;
    font-size: 0.7rem;
}

.card-top-left main {
    background-color: #000000;
    color: white;
    border-radius: 1rem;
    padding: 1rem;
    position: relative;
}

.card-top-left main::after{
    content: "";
    position: absolute;
    background-color: #000000;
    width: 1rem;
    height: 1rem;
    bottom: -1rem;
    left: 2rem;
    transform: translateY(-50%) rotate(45deg);
}
.card-top-footer {
    display: flex;
    gap: 1rem;
    margin-top: 1rem;
    align-items: flex-start;
}
.card-top-footer img{
    width: 60px;
    height: 60px;
    object-fit: cover;
    border-radius: 50%;
}

.card-top-footer p{
    font-weight: 600;
    font-size: 1.2rem;
    position: relative;
}

.card-top-footer p::after{
    content: "Software Development Engineer";
    position: absolute;
    width: max-content;
    font-size: 0.6rem;
    bottom: -1rem;
    left: 0;
}
.card-top-right {
    grid-area: card-top-right;
    padding: 1rem;
    border: 2px solid #000000;
    border-radius: 1rem;
    max-height: min-content;
    overflow: hidden;
}

.card-top-right main {
    font-size: 0.7rem;
}


.card-middle {
    grid-area: card-middle;
    display: flex;
    justify-content: center;
    gap: 1rem;
    color: #ffffff;
}

.card-middle-header {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}

.card-middle-header p{
    font-weight: 600;
    font-size: 1.1rem;
    position: relative;
}

.card-middle-header p::after {
    content: "Software Development Engineer";
    position: absolute;
    width: max-content;
    color: rgba(255,255,255,0.5);
    bottom: -1rem;
    left: 0;
    font-size: 0.8rem;
}

.card-middle-header-stars {
    display: flex;
    align-items: center;
}

.card-middle-header-stars img {
    width: 1.5rem;
    height: 1.5rem;
}

.card-middle-main {
    flex: 0.8;
    background-color: #000000;
    border-radius: 1rem;
    padding: 1rem;
}

.card-middle img {
    border-radius: 1rem;
}

.card-middle-main > p {
    font-size: 0.8rem;
    margin-top: 2.2rem;
}

.card-bottom {
    grid-area: card-bottom;
    width: 80%;
    margin: 0 auto;
    padding: 1rem 4rem;
    border-radius: 1rem;
    border: 2px solid #000000;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.card-bottom p{
    text-align: center;
    font-size: 0.8rem;
}

.card-bottom-footer {
    display: flex;
    align-items: center;
    gap: 1rem;
    margin-top: 1rem;
}

.card-bottom-footer .arrow-icon {
    width: 1rem;
    height: 1rem;
    cursor: pointer;
}

.card-bottom-footer .arrow-icon:last-child {
    transform: rotate(180deg);
}
.card-bottom-footer img{
    width: 40px;
    height: 40px;
    object-fit: cover;
    border-radius: 50%;
    cursor: pointer;
}

.card-bottom-footer .img-container:nth-child(3){
    transform: scale(1.2);
    position: relative;
}

.card-bottom-footer .img-container:nth-child(3)::after{
    content: "Artem Jones";
    position: absolute;
    width: max-content;
    font-size: 0.6rem;
    bottom: -1rem;
    left: 50%;
    transform: translateX(-50%);
    color: #000;
}

.card-bottom-footer .img-container img{
    width: 40px;
    height: 40px;
    object-fit: cover;
    border-radius: 50%;
    cursor: pointer;
    display: block;
}
.card-bottom-footer .img-container:nth-child(2), .card-bottom-footer .img-container:nth-child(4){
    opacity: 0.5;
}




